.title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.allEventsListItem__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.allEventsListItem__item {
    border-radius: 0.3rem;
    border: 0.05rem solid #212121;
    padding: 0.5rem;
    margin-bottom: 2rem;
}
.allEventsListItem__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}
.allEventsListItem__description {
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}
.allEventsListItem__organizer {
    margin-bottom: 0.1rem;
}
.allEventsListItem__date {
    margin-bottom: 0.5rem;
}
.allEventsListItem__linksWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.allEventsListItem__link {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    color: #fafafa;
    background-color: #7cb9e8;
    border-radius: 0.3rem;
    transition: all ease-in;
}
.allEventsListItem__link:hover,
.allEventsListItem__link:focus {
    background-color: #6cb4ee;
}

.pagination__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.pagination__button {
    width: 160px;
    padding: 0.3rem 2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #7cb9e8;
    color: #fafafa;
    cursor: pointer;
    transition: all ease-in;
}
.pagination__button:hover,
.pagination__button:focus {
    background-color: #6cb4ee;
}
.pagination__button:disabled {
    background-color: #6cb4ee;
    opacity: 50%;
}

.InputComponent__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.InputComponent__label {
    margin-bottom: 0.2rem;
}
.InputComponent__input {
    padding: 0.2rem 1rem;
    border: 0.1rem solid #6cb4ee;
    border-radius: 0.3rem;
    margin-bottom: 0.2rem;
}
.InputComponent__input::placeholder {
    color: #212121;
    opacity: 50%;
    letter-spacing: 0.25rem;
}
