.eventsPage__content {
    border: 0.1rem solid #212121;
    padding: 1rem;
}

.registerEvent__backWrapper {
    margin-bottom: 0.5rem;
}
.registerEvent__link {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    color: #fafafa;
    background-color: #6cb4ee;
    border-radius: 0.3rem;
    transition: all ease-in;
}
.registerEvent__link:hover,
.registerEvent__link:focus {
    background-color: #7cb9e8;
}
.registerEvent__form {
    max-width: 30rem;
    display: block;
    margin: auto;
    border-radius: 0.2rem;
    border: 0.05rem solid #212121;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
}
.registerEvent__button {
    display: block;
    margin: auto;
    width: 160px;
    padding: 0.3rem 2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #7cb9e8;
    color: #fafafa;
    cursor: pointer;
    transition: all ease-in;
}
.registerEvent__button:hover,
.registerEvent__button:focus {
    background-color: #6cb4ee;
}
